# Export all names
exportPattern(".")

# Import all packages listed as Imports or Depends
import(
  lmerTest
)

importFrom(mvtnorm,rmvnorm) 
importFrom(gmodels,ci) 
importFrom(lattice,wireframe)
importFrom(lme4,fixef)

S3method(plot, EAMM)
S3method(plot, PAMM)
S3method(plot, SSF)

